.root{
    border: 3px solid #3e4141;
    padding: 15px;
    background-color: #F8CCE0;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.fail{
    border-bottom: 3px solid red;
}

.success{
    border-bottom: 3px solid green;
}